Flask==2.3.3
Werkzeug==2.3.8

langchain==0.1.14
langchain-community==0.0.32
langchain-google-genai==0.0.8
langchain-pinecone==0.0.3

google-generativeai==0.3.2
pinecone==5.4.2
pinecone-plugin-inference==3.1.0

PyPDF2==3.0.1
pdf2image==1.16.3
pytesseract==0.3.10
Pillow==10.3.0

tqdm==4.66.4